{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
	Signup
{% endblock %}

{% block content %}
	{%include 'todo_list/nav_bar.html'%}
	<br/>
	<section class="">
	<p class="h2" id="sg-1" align='center'>Please fill the form below to create a new account</p><br><br>
	<div class="container card-body bg-dark text-white" align="center" style="width:80%;">
		<p class="h3">Create Account</p>
		<hr>
		<form class="card-body" role="form" action="{% url 'user_signup' %}" method="POST">
			{% csrf_token %}

			{% comment %}{{form | crispy}}{% endcomment %}

			{% for field in form %}
				<span style="padding-bottom:8px">
					{{ field.label_tag }}
					<div class="form-group">
						{{ field }}
					</div>
					{% if field.help_text %}
						<small style="color: #9d9e9e">{{ field.help_text }}</small>
					{% endif %}
					{% for error in field.errors %}
						<p><small style="color: #f08b79">{{ error }}</small></p>
					{% endfor %}
				</span>
			{% endfor %}
			<div class="pt-4">
				<button type="submit" class="btn btn-primary active">Sign Up</button>
			</div>
		</form>
	</div>
</section>
{% endblock %}

