{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
	Signup
{% endblock %}

{% block content %}
	{%include 'todo_list/nav_bar.html'%}
	</nav>
	<br/>
	<p class="h2" align='center'>Please fill in the form below to create a new account</p>
	<div class="container rounded-lg p-4 my-3 bg-dark text-white" align="center" style="width:40%;">
		<form class="signup" role="form" action="{% url 'user_signup' %}" method="POST">
			{% csrf_token %}

			{% comment %}{{form | crispy}}{% endcomment %}

			{% for field in form %}
				<span style="padding-bottom:8px;">
					{{ field.label_tag }}
					<p>
						{{ field }}
					</p>
					{% if field.help_text %}
						<small style="color: #9d9e9e">{{ field.help_text }}</small>
					{% endif %}
					{% for error in field.errors %}
						<p><small style="color: #f08b79">{{ error }}</small></p>
					{% endfor %}
				</span>
			{% endfor %}
			<div>
				<button type="submit" class="btn btn-primary active">Sign Up</button>
			</div>
		</form>
	</div>
{% endblock %}

