{% load static %}

<style>
            footer.page-footer {
            background-color: #6f7782;
        }
</style>
<style>
    .wrapper {
        min-height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    .main {
        height: 25%;
        width: 100%;
        position: relative;
        text-align: center;
        min-height: 100%;
    }

    .column1 {
        color: #4287f5;
    }

    #bottom {
        min-height: 100%;
        position: relative;
        bottom: 0;
        width: 100%;
        color: #ffffff;
        padding: 15px 0;
    }
 
</style>
<footer class="bg-secodary text-white main wrapper " id="bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeIn" data-wow-delay="0.3s">

                <div class="text-center d-flex justify-content-center my-4">
      
                    <a class="m-2 fa-lg fb-ic p-2 bg-white rounded" href="http://github.com/sandipan898" target="blank">
                        <i style="color:#1b18e2;" class="fab fa-facebook-f"></i>
                    </a>
                    <a class="m-2 fa-lg fb-ic p-2 bg-white rounded" href="https://www.linkedin.com/in/sandipan-das-528166175" target="_blank" />
                    <i class="fab fa-twitter"></i>
                    </a>
                    <a class="m-2 fa-lg fb-ic p-2 bg-white rounded" href="https://www.youtube.com/channel/UCVqV59BoYbuqYCJio13aygQ"
                        target="_blank" />
                    <i class="fab fa-github"></i>
                    </a>
                    <a class="m-2 fa-lg fb-ic p-2 bg-white rounded" href="https://www.youtube.com/channel/UCVqV59BoYbuqYCJio13aygQ"
                        target="_blank" />
                    <i class="fab fa-youtube"></i>
                    </a>
                    <a class="m-2 fa-lg fb-ic p-2 bg-white rounded" href="https://www.youtube.com/channel/UCVqV59BoYbuqYCJio13aygQ"
                        target="_blank" />
                    <i class="fab fa-linkedin"></i>
                    </a>
                    <a class="m-2 fa-lg fb-ic p-2 bg-white rounded" href="https://www.youtube.com/channel/UCVqV59BoYbuqYCJio13aygQ"
                        target="_blank" />
                    <i class="fab fa-instagram"></i>
                    </a>
                    <a class="m-2 fa-lg fb-ic p-2 bg-white rounded" href="https://www.youtube.com/channel/UCVqV59BoYbuqYCJio13aygQ"
                        target="_blank" />
                    <i class="fab fa-google"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-copyright py-3 text-center wow fadeIn bg-secondary" data-wow-delay="0.3s">
            <div class="container-fluid">
                &copy; 2020. All rights are reserved. developed by  <a class="btn" href="https://www.github.com/sandipan898/" target="_blank"> Sandipan Das: </a>
            </div>
          </div>
    </div>
</footer>
