{% load static %}
<div class="container rounded-lg p-4 my-2" align="center">
    <a href="http://github.com/sandipan898" target="blank">
        <img src="{% static 'images/github.png' %}" class="rounded float" alt="github" width="40" height="40">
    </a>
    <a href="https://www.linkedin.com/in/sandipan-das-528166175" target="_blank"/>
        <img src="{% static 'images/linkedin.png' %}" class="rounded float" alt="linkedin" width="40" height="40">
    </a>
    <a href="https://www.youtube.com/channel/UCVqV59BoYbuqYCJio13aygQ" target="_blank"/>
        <img src="{% static 'images/youtube.png' %}" class="rounded float" alt="youtube" width="55" height="35">
    </a>
</div>