{% load static %}

<style>
    .wrapper {
        min-height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    .main {
        height: 25%;
        width: 100%;
        position: relative;
        text-align: center;
        min-height: 100%;
    }

    .column1 {
        color: #4287f5;
    }

    #bottom {
        min-height: 100%;
        position: relative;
        bottom: 0;
        width: 100%;
        color: #ffffff;
        padding: 15px 0;
    }
</style>
<footer class="bg-secodary text-white main wrapper" id="bottom">
    <div class="container">
        <a class="p-2 m-1 bg-white rounded" href="http://github.com/sandipan898" target="blank">
            <i style="color:#1b18e2;" class="fab fa-facebook-f"></i>
        </a>
        <a class="p-2 m-1 bg-white rounded" href="https://www.linkedin.com/in/sandipan-das-528166175" target="_blank" />
        <i class="fab fa-twitter"></i>
        </a>
        <a class="p-2 m-1 bg-white rounded" href="https://www.youtube.com/channel/UCVqV59BoYbuqYCJio13aygQ"
            target="_blank" />
        <i class="fab fa-github"></i>
        </a>
        <a class="p-2 m-1 bg-white rounded" href="https://www.youtube.com/channel/UCVqV59BoYbuqYCJio13aygQ"
            target="_blank" />
        <i class="fab fa-youtube"></i>
        </a>
        <a class="p-2 m-1 bg-white rounded" href="https://www.youtube.com/channel/UCVqV59BoYbuqYCJio13aygQ"
            target="_blank" />
        <i class="fab fa-linkedin"></i>
        </a>
        <a class="p-2 m-1 bg-white rounded" href="https://www.youtube.com/channel/UCVqV59BoYbuqYCJio13aygQ"
            target="_blank" />
        <i class="fab fa-instagram"></i>
        </a>
        <a class="p-2 m-1 bg-white rounded" href="https://www.youtube.com/channel/UCVqV59BoYbuqYCJio13aygQ"
            target="_blank" />
        <i class="fab fa-google"></i>
        </a>
        <p class="p-2 m-3 bg-secondary">&copy; 2020. All rights are reserved. developed by Sandipan Das</a></p>
    </div>
</footer>