{% extends 'base.html' %}

{% block head %}
    Help Page
{% endblock %}

{% block content %}
        {% include 'todo_list/nav_bar.html' %}
        <br>
        <section>
            <h1 class="display-4" align="center">Hello There</h1>
            <h3 align="center">Need Help? Let's take a look here</h3>
            <div class="container rounded-lg p-3 my-3 bg-dark text-white" align="center" style="padding-top: 20px;">
                <p>
                    Tell us how can we help you.<br/> Visit the <a class="btn btn-primary btn-sm" href="{% url 'about' %} ">About</a> section to know more about TODO-BOX.<br/>
                    <p>Need more help?</p>
                    Post your question in our developer's site <a class="btn btn-primary" href="https://sandipandas898.wixsite.com/sandipandas">here</a>
                </p>
            </div>
        </section>
{% endblock %}