{% extends 'base.html' %}

{% block title%}
    Welcome
{% endblock %}

{% block extra_style %}
    <style>
        @media (max-width: 767px) {
            .display-4 {
                font-size: 40px;
            }
            h3, .h3, .h4 {
                font-size: 20px;
            }
            p, a.btn {
                font-size: 14px;
            }
        }
    </style>    
{% endblock %}

{% block content %}
    {% include 'todo_list/nav_bar.html' %}
    <section>
        <div class="container">
            <h1 class="display-4 pt-4" align="center" >Welcome to TODO BOX</h1>
            <h3 align="center">Get yourself more organized. Add your works to your TODO list</h3>
            <div class="container rounded-lg p-3 my-3 bg-dark text-white" align="center" style="padding-top: 20px;">
                <p class="h4">Welcome <em>{{user}}</em></p>
                <p class="h3" class="lead">Your Work Status</p>
                <p>Total tasks: {{no_of_items}}</p>
                <p>There are {{no_of_incomplete_items}} tasks remains incomplete</p>
                <a class="btn btn-primary btn" href="{% url 'home' %}">View your DashBoard</a>
            </div>
        </div>
    </section>  
{% endblock %}
