{% load static %}
<div class="container rounded-lg" style="padding-left: 35%;">
    <a class="img-thumbnail" href="http://github.com/sandipan898" target="_blank"/>
        <center><img src="{% static 'images/github.png' %}" class="rounded float-left" alt="github" width="50" height="50"/></center>
    </a>
    <a class="img-thumbnail" href="https://www.linkedin.com/in/sandipan-das-528166175" target="_blank"/>
        <img src="{% static 'images/linkedin.png' %}" class="rounded float-left" alt="linkedin" width="50" height="50"/>
    </a>
    <a class="img-thumbnail" href="https://www.youtube.com/channel/UCVqV59BoYbuqYCJio13aygQ" target="_blank"/>
        <img src="{% static 'images/youtube.png' %}" class="rounded float-left" alt="yputube" width="70" height="50"/>
    </a>
</div>